

@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@500&family=Knewave&display=swap');
:root {
    --primary-color: #016FB9;
    --secondary-color: #E7F0FF;
    --accent1-color: #FFD447;
    --accent2-color: #786452;

    --heading-font:'Knewave';
    --paragraph-font:'Chivo';

    --nav-background-color: #016FB9;
    --nav-link-color: #b8221d;
    --nav-hover-link-color: #FFD447;
    --nav-hover-background-color: #786452;

}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--nav-background-color);
}


header img {
    width: 20%;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--primary-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: black;    
}

nav a:hover {
    color: black;
    background-color: var(--nav-hover-background-color);
}

.hero {
    position: relative;
}

.hero img {
    
    width: 100%;
    height: auto;
    padding-top: 450px;
    background-color: var(--secondary-color);
}

 .hero h1 {
    position: absolute;
    top: 5px;
 }


.hero article {
    position: absolute;
    top: 70px;
    padding-top: 20px;
}

.hero article img {
    float: right;
    width: 50%;
    padding: 0%;
}