     
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  background-color: #011e4b;
  padding: 1rem;
  display: flex;

  align-items: center;
}

nav a {
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 700;
  color: #faffbb; 
  text-align: center;

}

nav a:hover {
  color: black;
  background: white;
}

header, footer, .grid {
  max-width:840px;
  margin:0 auto;
}


  .grid {
    display: grid;
    align-items: center;
  }    

  main {
    
    grid-column: 2/3;
    margin: 1rem;
    font-family: 'Martel';
    text-align: justify;
  }

  
  h1 {
    border-bottom: 1px solid #011e4b;
    font-family: 'Martel';
    margin-bottom: 10px;
    text-align: center;
  }

  main img {
    padding: 5px;
    width: 180px;
    height: auto;
    float: right;
    border: 3px solid #011e4b;
    margin: 5px;
  }

  aside {
    width: 20rem;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
  }




  aside img {
    display: block;
    width: 200px;
    height: auto;
    margin: 0 auto;
  }

  aside h2, aside p {
    text-align: center;
    margin: 10px;
  }

  li a {
    color:#faffbb;
    font-size: smaller;
  }

  li a:hover {
    color: black;
    background: white;
  }

  footer {
    margin-top: 1em;
    border-top: 1px solid #000;
    font-family: 'Martel', serif;
    text-align: center;
        }

/* Class Selectors */


.box {

  border: 1px solid rgba(0,0,0,.1);
  padding: 2rem;
  background-color: #011e4b;
  color: #faffbb;
  font-size: larger;
}