     
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

footer {
  font-family: 'Martel', serif;
  font-weight: normal;
      }

  main {
    max-width: 840px;
  }

  main img {
    float: right;
  }

  aside {

    text-align: center;
    width: 20em;
    position: relative;
  }

  aside h2 {
    position: absolute;
    top: 5px;
    left: 15px;
  }
  aside img {
    width: 200px;
    height: auto;
    margin-top: 30px;
  }

  main img {
    width: 150px;
    height: auto;
  }

  p {
    padding: 0;
  }

  footer, h1 {
    margin-top: 1em;
    border-top: 1px solid #000;
    font-family: 'Martel', serif;
    font-weight: normal;
        }

/* Class Selectors */


.box {
  margin: 1 rem;
  border: 1px solid rgba(0,0,0,.1);
  padding: 1rem;
  background-color: #011e4b;
  color: #fbff00;
}